<!DOCTYPE html>
<html>
<head>
  <title>Panel de Administrador</title>
  <link rel='stylesheet' href='/stylesheets/admin.css' />
</head>
<body>

    <div class="navbar">
      <h1>Panel de Administrador</h1>
      <a href="/logout" class="logout-btn">Logout</a>
    </div>

    <div class="admin-panel">
        <div class="tabs">
          <button class="tab-btn" onclick="location.href='/add-category'">Añadir categoría</button>
          <button class="tab-btn" onclick="location.href='/add-product'">Añadir producto</button>
          <button class="tab-btn" onclick="location.href='/add-image'">Añadir imagen</button>
          <button class="tab-btn" onclick="location.href='/list'">Ver lista de productos</button>
          <button class="tab-btn active" onclick="location.href='/category-list'">Ver lista de categorias</button>
        </div>
        <!-- Añadir categoría -->
        <div id="add-category" class="tab-content ">
          <h2>Añadir categoría</h2>
        </div>
        <!-- Añadir producto -->
        <div id="add-product" class="tab-content">
          <h2>Añadir producto</h2>
        </div>

        <!-- Añadir imagen -->
        <div id="add-image" class="tab-content">
          <h2>Añadir imagen</h2>
        </div>

        <!-- Lista de productos -->
        <div id="category-list" class="tab-content active">
          <h2>Ver lista de categorias</h2>
          <!-- Lista de productos -->
    <table class="product-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acciones</th> <!-- Columna para los botones de acciones -->
        </tr>
      </thead>
      <tbody>
        <!-- Aquí puedes generar las filas de la tabla dinámicamente desde la base de datos -->
        <% productos.forEach((categoria) => { %>
        <tr>
          <td><%= categoria.nombre %></td>
          <td>
            <!-- Botón para eliminar producto -->
            <button onclick="eliminarProducto('<%= categoria.id %>')">Eliminar</button>
            <!-- Botón para editar producto -->
            <button onclick="editarProducto('<%= categoria.id %>')">Editar</button>
            <script>
                function editarProducto(id) {
                  // Redirecciona a la URL con el ID como parámetro
                  if (confirm('¿Estás seguro de que quieres realizar esta acción?')) {
                    // El usuario hizo clic en "Aceptar"
                    window.location.href = `/actualizar-categoria/${id}`;
                    console.log('Acción confirmada');
                  } else {
                    // El usuario hizo clic en "Cancelar"
                    console.log('Acción cancelada');
                  }
                }
                function eliminarProducto(id) {
                  // Redirecciona a la URL con el ID como parámetro
                  if (confirm('¿Estás seguro de que quieres realizar esta acción? Asegurate que no hayan productos en esta categoría usando el filtrado por categoría')) {
                    // El usuario hizo clic en "Aceptar"
                    window.location.href = `/eliminar-categoria/${id}`;
                    console.log('Acción confirmada');
                  } else {
                    // El usuario hizo clic en "Cancelar"
                    console.log('Acción cancelada');
                  }
                }

            </script>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
        </div>
      </div>
      <script>
        <% if (typeof message !== '' && message) { %>
        // Verificar si hay un mensaje y mostrar una alerta con el contenido del mensaje
          alert('<%= message %>');
        <% } %>
      </script>
  <script src="/javascripts/admin.js"></script>
</body>
</html>
